.slider {
    position: relative;
    overflow: hidden;
    height: 500px;

    > * {
        opacity: 0;
        z-index: 0;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 500px;
        object-fit: cover;
   }
}

.current {
    opacity: 1;
    z-index: 2;
}

.previous {
    z-index: 3;
    transition-property: opacity;
    transition-duration: 1s;
    transition-timing-function: ease;
}
